:root {
  --color-dark: #0b0c0c;
  --color-light: #ffffff;
  --color-mid: #b1b4b6;
  --color-link: #1d70b8;
  --color-highlight: #ffdd00;
}

/* Global */

body {
  color: var(--color-dark);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.8;
}

a {
  color: var(--color-link);
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
}

hr {
  border: none;
  border-top: 1px solid var(--color-mid);
}

:focus-visible {
  outline: 1px dotted var(--color-highlight);
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

::selection {
  background: var(--color-highlight);
  color: var(--color-dark);
}

/* Utilities */

.wrapper {
  margin-inline: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 100%;
}

.region {
  padding-block: 2em;
}

.flow > * + * {
  margin-block-start: 1em;
}

/* Blocks */

.summary {
  border: 1px solid var(--color-mid);
  border-collapse: collapse;
  font-size: 1.5em;
}

.summary th {
  font-weight: 700;
  padding: 0.5em;
  text-align: left;
}

.summary td {
  border: 1px solid var(--color-mid);
  padding: 0.5em;
  text-align: left;
}

.summary tbody > tr > td:first-of-type {
  font-weight: 700;
}

.summary tbody > tr:nth-child(even) {
  background-color: #e3e3e3;
}

.summary tbody > tr:nth-child(odd) {
  background-color: #f3f3f3;
}

td[data-impact]:not([data-impact=""]) {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

td[data-impact="minor"],
td[data-impact="moderate"] {
  color: #594d00;
  background: #fff7bf;
}

td[data-impact="serious"],
td[data-impact="critical"] {
  color: #942514;
  background: #f6d7d2;
}
