:root {
    --color-red: #d4351c;
    --color-yellow: #ffdd00;
    --color-green: #00703c;
    --color-blue: #1d70b8;
    --color-black: #0b0c0c;
    --color-dark-grey: #505a5f;
    --color-mid-grey: #b1b4b6;
    --color-light-grey: #f3f2f1;
    --color-white: #ffffff;
    --font-base: "Inter", sans-serif;
    --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
    --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
    --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
    --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
    --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
    --size-step-5: clamp(3.05rem, calc(2.47rem + 2.93vw), 4.74rem);
    accent-color: var(--color-blue)
}

*, :after, :before {
    box-sizing: border-box
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
    margin: 0
}

ol[role=list], ul[role=list] {
    list-style: none
}

html {
    text-size-adjust: none;
    -webkit-text-size-adjust: none
}

html:focus-within {
    scroll-behavior: smooth
}

body {
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed
}

a:not([class]) {
    text-decoration-skip-ink: auto
}

img, picture, svg {
    display: block;
    height: auto;
    max-width: 100%
}

button, input, select, textarea {
    font: inherit
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/inter-v12-latin-regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/inter-v12-latin-700.woff2) format("woff2")
}

body {
    background: var(--color-white);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    font-family: var(--font-base);
    font-size: var(--size-step-0);
    font-weight: 400;
    line-height: 1.8
}

main {
    flex: auto
}

a {
    color: var(--color-blue)
}

a:hover {
    text-decoration-thickness: .3ex
}

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2
}

h1 {
    font-size: var(--size-step-3)
}

h2 {
    font-size: var(--size-step-2)
}

h3 {
    font-size: var(--size-step-1)
}

nav > ul {
    margin: 0
}

[role=list] {
    margin-bottom: 0;
    padding: 0
}

:focus, :focus-visible {
    outline: 3px solid var(--color-yellow);
    outline-offset: 0
}

main:focus {
    outline: 0
}

::selection {
    background: var(--color-yellow);
    color: var(--color-black)
}

.js-enabled .js-hidden {
    display: none
}

.banner {
    --region-space: var(--size-step-0);
    --wrapper-space: var(--size-step-0);
    background-color: var(--color-blue);
    color: var(--color-white);
    text-align: center
}

.banner a {
    color: currentColor
}

.brand {
    height: var(--size-step-3);
    width: var(--size-step-3)
}

form {
    --flow-space: var(--size-step-3)
}

label, legend {
    display: block;
    font-size: var(--size-step-2);
    font-weight: 700
}

label[for*=impact] {
    font-size: var(--size-step-0);
    font-weight: 400
}

fieldset {
    --cluster-space: 0.75rem;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0
}

fieldset ul {
    --flow-space: var(--size-step-0)
}

input[type=checkbox] {
    height: var(--size-step-1);
    width: var(--size-step-1)
}

input[type=text] {
    --flow-space: var(--size-step-0);
    border: 2px solid var(--color-black);
    line-height: 1;
    padding: 1ex;
    width: 100%
}

button {
    all: unset;
    background-color: var(--color-green);
    box-shadow: 0 2px #002d18;
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 1ex;
    text-align: center;
    width: 100%
}

button:focus:not(:active):not(:hover) {
    background-color: var(--color-yellow);
    color: var(--color-black);
    outline: 3px solid transparent
}

button:hover {
    background-color: #005a30
}

.summary {
    --border-color: var(--color-mid-grey);
    --region-space: var(--size-step-0);
    --wrapper-space: var(--size-step-0)
}

.summary header {
    background-color: var(--color-light-grey)
}

.summary header h2 {
    font-size: var(--size-step-0);
    text-transform: uppercase
}

.summary header ul {
    --cluster-space: 0.5rem
}

.summary dt {
    font-weight: 700
}

.summary dd ul {
    list-style-type: disc
}

.summary pre {
    background-color: var(--color-light-grey);
    margin: 0;
    padding: 1.5ex;
    white-space: pre-wrap
}

.tag {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    padding: .75ex 1ex;
    text-transform: uppercase
}

.tag-blue, [data-tag=info] {
    background: #d2e2f1;
    color: #144e81
}

.tag-green {
    background: #cce2d8;
    color: #005a30
}

.tag-red, [data-tag=critical], [data-tag=serious] {
    background-color: #f6d7d2;
    color: #942514
}

.tag-yellow, [data-tag=moderate] {
    background: #fff7bf;
    color: #594d00
}

[data-tag=version] {
    background-color: var(--color-blue);
    color: var(--color-white)
}

.cluster {
    align-items: var(--cluster-vertical-alignment, center);
    display: flex;
    flex-wrap: var(--cluster-flex-wrap, wrap);
    gap: var(--cluster-space, var(--size-step-2));
    justify-content: var(--cluster-horizontal-alignment, flex-start)
}

.repel {
    align-items: var(--repel-vertical-alignment, center);
    display: flex;
    flex-wrap: var(--repel-flex-wrap, wrap);
    gap: var(--repel-space, var(--size-step-2));
    justify-content: var(--cluster-horizontal-alignment, space-between)
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-space, var(--size-step-5))
}

.sidebar > :first-child {
    flex-grow: 1
}

.sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%
}

.border {
    border-color: var(--border-color, var(--color-light-grey));
    border-style: var(--border-style, solid);
    border-width: var(--border-width, 2px)
}

.border-bottom {
    border-bottom-color: var(--border-color, var(--color-light-grey));
    border-bottom-style: var(--border-style, solid);
    border-bottom-width: var(--border-width, 2px)
}

.border-top {
    border-top-color: var(--border-color, var(--color-light-grey));
    border-top-style: var(--border-style, solid);
    border-top-width: var(--border-width, 2px)
}

.flow > * + * {
    margin-block-start: var(--flow-space, var(--size-step-0))
}

.region {
    padding-block: var(--region-space, var(--size-step-3))
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap
}

.wrapper {
    padding-inline: var(--wrapper-space, var(--size-step-3));
    width: 100%
}